{% extends 'layouts.html' %}
{% block body %}
<div class="container">
    <h1>About</h1>
    <div id="about-div">
        <p>1. This project is demonstration of hybrid recommendation system</p>
        <p>2. It uses content based and collaborative filtering approach for providing recommendation</p>
        <p>3. As project is just for demonstration of recommendation system user database is not maintained</p>
        <p>4. Hence the history of watched movies is also not maintained, therefore recommendation is based on last movie watched</p>
        <p>5. The project can be extended to have database, maintain user records and give recommendation based on history of movies watched</p>
        <p>6. This project is a part of my ML learning assignment, visit my github repository for other assignments.</p>
    </div>
</div>
{% endblock %}